// ***************************

//** Imports

// ***************************

@import "compass/css3";

// ***************************

//** Font Faces

// ***************************


// ***************************

//** Keyframes

// ***************************

@-webkit-keyframes fadeIn{
	0%{opacity:0;}
	100%{opacity:1;}
}

@-moz-keyframes fadeIn{
	0%{opacity:0;}
	100%{opacity:1;}
}

@-o-keyframes fadeIn{
	0%{opacity:0;}
	100%{opacity:1;}
}

@keyframes fadeIn{
	0%{opacity:0;}
	100%{opacity:1;}
}

// ***************************

//** Animation Classes

// ***************************

.fadeIn{
	-webkit-animation: fadeIn ease-in forwards;
	-moz-animation: fadeIn ease-in forwards ;
	-o-animation: fadeIn ease-in forwards ;
	animation:fadeIn ease-in-out forwards ;
}

.fadeIn.one{
		-webkit-animation-duration:3s;
		-moz-animation-duration:3s;
		-o-animation-duration:3s;
		animation-duration:3s;
}

.fadeIn.two{
		-webkit-animation-duration:5s;
		-moz-animation-duration:5s;
		-o-animation-duration:5s;
		animation-duration:5s;
}

.fadeIn.three{
		-webkit-animation-duration:7s;
		-moz-animation-duration:7s;
		-o-animation-duration:7s;
		animation-duration:7s;
}

// ***************************

//**  Page Wrappers and Base

// ***************************

.page-wrapper{
	width:100%;
	max-width: 1020px;
	margin:0 auto;
}

html, body{
	background:black;
	color:white;
	font-size: 16px;
}


a{
	color: white;
	text-decoration: none;
}

// ***************************

//** Header

// ***************************

header{
	margin-bottom: 15px;
	position: relative;
	text-align: center;

	

	h1{
		color:white;
		font-size: 4.6875em;
		font: bold 4.6875em "amatic_scregular",sans-serif;
		margin: 100px auto 10px auto;
		padding: 10px;
	}

	h2{
		color:rgba(255,255,255,.65);
		font: bold 1.625em "amatic_scregular",sans-serif;
		margin: 0px auto 30px auto;
	}

// ***************************

//** Nav

// ***************************

	nav{
		border-top: 1px solid white;
		margin: 0 auto;
		max-width: 550px;
		text-align: center;

		ul{
			padding-left:0;
		}

		li{
		 	border-radius: 2px;
		 	border-right: .05em solid white;
		 	display: inline;
		 	font-family: "amatic_scregular";
		 	font-size: 1.5625em;
		 	list-style:none;
		 	margin: 10px auto;
		 	padding: 1.818181818182%;
		 	text-decoration: none;
		 	transition: background-color .5s linear;
		 }

		.lastlink{
			border-right:none;
		}


		li:hover{
			background-color: dimgray;
		}
	}
}
// ***************************

//** Main Page Content

// ***************************

article{
	position: relative;
}
	#main-pic{
		padding: 40px 50px 20px 50px;
		vertical-align: middle;
		width: 100%;
		#opaqbox {
			background:rgba(0,0,0,.5);
			display: inline-block;
			height:100%;
			position: absolute;
			right:0;
			top:0;
			width: 30%;
		}
	}	
	
	h3{
		float:left;
		font: bold 3.125em "amatic_scregular",sans-serif;
		position: absolute;
	}
	
	.img-wrapper{
		display: table;
		height:200px;
		width: 100%;
	}
	
	#projpictures{
		display:block;
		margin-top:100px;
		padding: 0px;
		position: relative;
		width:100%;
		h4{
			display:inline-block;
			font:1.875em "amatic_scregular",sans-serif;
			height:40px;
			text-align: center;
		}
		li{
			box-sizing:border-box;
			display: inline-block;
			float:left;
			padding:25px;
			width:25%;
		}
		p{	
			display:inline-block;
			font: italic 1.5625em'amatic_scregular', sans-serif;
			height:150px;
			text-align:right;
		}
		img{
			display: table-cell;
			float:left;
			height:100%;
			vertical-align: middle;
			width:100%;
		}
	}


// ***************************

//** About Me Page

// ***************************


article .aboutme{
	margin:40px auto 40px auto;
	max-width:70%;
	position: relative;
	text-align: center;
}

	.abouthead{
		clear: both;
		display: inline-block;
		width: 60%;
	}

	.aboutme p{
		text-align: justify;
		text-indent: 3.125em;
	}

	.aboutme p:first-child {
		margin-top: 40px;
	}

	.aboutme h3{
		float: left;
		font: bold 2.5em "amatic_scregular";
	}

	article .abouthead img{
		border-radius: 100%;
		float: right;
		margin: 90px 10px 10px auto;
		max-height: 200px;
		max-width: 200px;

	}

// ***************************

//** Music Page

// ***************************

	article.music iframe{
		display: block;
		margin: 40px auto;
		width:60%;

	}

	article.music p{
		font: 1.375em "amatic_scregular", sans-serif;
		text-align: center;
		margin: 0 auto;
	}

// ***************************

//** Footer

// ***************************

footer{
	color:gray;
	float:bottom;
	margin: 90px 10px 20px 10px;
	padding:20px;
	position: relative;
	text-align: center;
	top: 75px;
	width:90%;


	li:hover{
		background-color: dimgray;
		transition: background-color 1s ease-in-out;
	}

	#foot-nav{
		border:none;		
		li{
			border-bottom: .05em solid white;
			border-radius: .5em;
			border-right: .05em solid white;
			display: inline;
			font: 1.5625em "amatic_scregular",sans-serif;
			padding:15px;
			text-decoration: none;
		}
	}

	#social-icons{
		display: block;
		float:left;
		margin-top:30px;
		li{
			display: inline;
			padding-right: 15px;
			text-decoration: none;
		}
		img{
			width:30px;
		}
	}

	#copyright{
		float:right;
		font-size: 15px;
		margin-top:40px;
	}
}
